<% layout('layouts/boilerplate')%>
<div class="container">

    <h1>Кластерная Карта</h1>
    <div id="cluster-map-pro"></div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const places = { features: <%- JSON.stringify(places) %>}
    </script>
    <script src="/javascripts/clusterMapPro.js"></script>
</div>