<% layout('layouts/boilerplate')%>
<div class="container">
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

    <h1>Поиск мест в радиусе 3км</h1>
    <div id="radius-map"></div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const places = { features: <%- JSON.stringify(places) %>}
    </script>
    <script src="/javascripts/radiusMap.js"></script>
</div>