<% layout('layouts/boilerplate')%>
<div class="container">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">

    <h1>Постройте свой маршрут!</h1>
    <div id="routes-map"></div>
    
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const places = { features: <%- JSON.stringify(places) %>}
    </script>
    <script src="/javascripts/routesMap.js"></script>
</div>