<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Добавить Статью</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/news" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Заголовок</label>
                <input class="form-control" type="text" id="title" name="news[headline]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Текст Статьи:</label>
                <textarea class="form-control" type="text" id="description" name="news[body]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add News</button>
            </div>
        </form>
        <a href="/news">All News</a>
    </div>
</div>